<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
      <!-- when level great than or equal warn, log info will be writen -->
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
      </filter> 
      <encoder>  
          <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>  
      </encoder> 
       
   </appender>  
  
   <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>error.log</file>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>error-%d{yyyyMMdd}.log</FileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%thread] %logger  :%msg %n</Pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>access.log</file>
             
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>access-%d{yyyyMMdd}.log</FileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%thread] %logger  :%msg %n</Pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_BATCH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>batch.log</file>
             
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>batch-%d{yyyyMMdd}.log</FileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%thread] %logger  :%msg %n</Pattern>
        </encoder>
    </appender>
    
    <appender name="MY_APPENDER" class="com.dyp.logback.exappender.MyAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    
    <logger name="com.dyp.logback.lbsample" level="DEBUG" additivity="true">
        <appender-ref ref="FILE_ERROR" />
        <appender-ref ref="FILE_ACCESS" />
        <appender-ref ref="FILE_BATCH" />
        <appender-ref ref="MY_APPENDER" />
    </logger>
    
    
    <root level="ALL">  
      <appender-ref ref="STDOUT" />  
    </root> 
</configuration>